* {
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ffe6eb, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #5a2a2a;
}


.title {
    margin: 30px 0 20px;
    font-size: 32px;
    text-align: center;
}


/* Book */
.book {
    position: relative;
    width: 85vw;
    max-width: 340px;
    height: 55vh;
    max-height: 450px;
    perspective: 2000px;
    margin: 0 auto;
}



.page {
    position: absolute;
    inset: 0;
    padding: 20px;
    border-radius: 14px;
    background: #fff0f3;
    transform-origin: left center;
    transform-style: preserve-3d;
    transition: transform 1.4s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}

.page * {
    backface-visibility: hidden;
}


.page img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}


.page h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.page p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}



/* Cover */
.cover {
    background: linear-gradient(135deg, #ff8fab, #ffc2d1);
    color: white;
}

.back {
    background: #ff8fab;
    color: white;
}

/* Buttons */
.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}


button {
    padding: 12px 26px;
    font-size: 15px;
    border-radius: 25px;
}


button:hover {
    background: #e63950;
}

button:active {
    transform: scale(0.95);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}








